<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mercado Liebre|Carrito de Compras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/cart.css">
	  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
  <header>
    <div class="contenedor-pc">
            <div class="logo-ml">
                <a href="">
                <img src="img/logo-mercado-liebre.svg" alt="logo">
                </a>
            </div>
            <div class="barra-buscar">
                Buscar productos, 
                <i class="fas fa-search"></i>
            </div>
        <div class="title">
            <i class="fas fa-hand-holding-usd"></i>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
    </div>
    <nav>
        <ul>
            <div class="nav-left">
                <a href="#"> <li>Ofertas</li></a>
                <a href="#"> <li>Tiendas Oficiales</li></a>
                <a href="#"> <li>Vender</li></a>
                <a href="#"> <li>Ayuda</li></a>
            </div>
            <div class="nav-right">
                <a href="/register">
                    <li class="special-li">Creá tu cuenta
                        <i class="fas fa-id-card"></i>
                    </li>
                </a>
                <a href="/login">
                    <li class="special-li">Ingresá
                        <i class="fas fa-sign-in-alt"></i>
                    </li>  
                </a>
                <a href="#">
                    <li class="special-li">Mis compras
                        <i class="fas fa-shopping-basket"></i>
                    </li>
                </a>
            </div>
        </ul>
        <div class="menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="main-img">
            <img  src="img/img-home-banner.jpg" alt="imgbanner">
        </div>
    </nav>
</header>
  <div class="contenedor"> 
    <h1>Carrito de Compras</h1>
    <div class= "carrito">

    <div class= "productos">
      <div class = "producto">
        <img src = "img/img-macbook-pro-2019.jpg">
        <div class = "producto-info">
              <h3 class="producto-nombre">Macbook Pro 2019</h3>
              <h4 class="producto-precio">$ 199.000</h4>
              <h4 class="producto-dcto">50%</h4>
              <p class="producto-cantidad">Cant.:<input value="1" name="">
              <p class="producto-eliminar">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="eliminar">Eliminar</span>
              </p>
        </div>
      </div>          
      <div class = "producto">
        <img src = "img/img-samsung-galaxy-s10.jpg">
        <div class = "producto-info">
              <h3 class="producto-nombre">Samsung S10</h3>
              <h4 class="producto-precio">$ 120.000</h4>
              <h4 class="producto-dcto">40%</h4>
              <p class="producto-cantidad">Cant.:<input value="1" name="">
              <p class="producto-eliminar">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="eliminar">Eliminar</span>
              </p>
        </div>
      </div>
      <div class="total-carrito">
           <p>
                <span>Total</span>
                <span>$319.000</span>
           </p>          
           <p>
            <span>Cantidad de productos</span>
            <span>2</span>
           </p>
           <p>
            <span>Ahorraste</span>
            <span>$1.000</span>
           </p>
           <a href="#">Proceder con la compra</a>
      </div>
    </div>    
  </div>
  <footer>
    <section class="footer">
        <div class="footer-one">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjta o en efectivo</h4>
            <p>Con Mercado libre Cash, tenés coutas sin interés con tarjeta o efectivo en puntos de pago.!Y siempre es seguro!</p>
        </div>
        <div class="footer-one">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="footer-one">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En mercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
        </div>
    </section>
        <h6>Copyright 1999-2021 MercadLiebre S.R.L</h6>
    
</footer>
</body>
</html>